/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.Sesion{
    display: -ms-grid;
    display: grid;
    width: 90%;
    height: 90%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "tittle tittle tittle tittle tittle tittle"
                         "scores panel0 panel0 panel0 panel0 panel1"
                         "scores panel0 panel0 panel0 panel0 panel1"
                         "scores panel0 panel0 panel0 panel0 panel1"
                         "scores panel0 panel0 panel0 panel0 panel1"
                         "panel2 panel0 panel0 panel0 panel0 panel1"
                         "panel2 panel0 panel0 panel0 panel0 panel1"
                         "panel2 panel0 panel0 panel0 panel0 panel1"
                         "panel2 panel0 panel0 panel0 panel0 panel1";
    font-family: 'Chakra Petch', sans-serif;
}
.tittleSesion{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: tittle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 6vh;
}
.tittleCont{
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid rgba(197, 245, 245, 0.3);
}
.tittleA{
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
}
.tittleB{
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.scores{
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: scores;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 22vw;
    height: 100%;
    color: aqua;
    font-size: 0.8rem;
}
.scoreGroup{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    width: 60%;
    height: 32px;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.scoreTittle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    width: 70%;
    height: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: aquamarine;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.panel0{
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: panel0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}
.panel1{
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    -ms-grid-column: 6;
    grid-area: panel1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 22vw;
    height: 100%;
}
.panel2{
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: panel2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 22vw;
    height: 100%;
}
.linkSesion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    width: 100px;
    height: 32px;
    color: rgb(197, 245, 245);
    cursor: pointer;
    font-size: 0.9rem;
}
.linkSesion:hover{
    color: aqua;
}
.char{
    width: auto;
    height: 70%;
    border-radius: 2px;
}
.char img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media screen and ((max-width: 1400px) or (max-height: 800px)){
    .scoreGroup{
        font-size: 0.6rem;
    }
}

@media screen and ((max-width: 1000px) or (max-height: 800px) or (aspect-ratio: 16/9) or (aspect-ratio: 16/10) or (aspect-ratio: 18/9) or (aspect-ratio: 18.5/9) or (aspect-ratio: 19/9) or (aspect-ratio: 19.5/9) or (aspect-ratio: 20/9)){
    .scores{
        visibility: hidden;
    }
    .tittleA{
        visibility: visible;
    }
    .panel1{
        width: 0;
    }
    .panel2{
        width: 0;
    }
    .scores{
        width: 0;
    }
    .linkSesion{
        font-size: 0.7rem;
    }
}